# Copyright (c) 2017-2018,2020-2021 The Linux Foundation. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are met:
#     * Redistributions of source code must retain the above copyright
#       notice, this list of conditions and the following disclaimer.
#     * Redistributions in binary form must reproduce the above copyright
#       notice, this list of conditions and the following disclaimer in the
#       documentation and/or other materials provided with the distribution.
#     * Neither the name of The Linux Foundation nor
#       the names of its contributors may be used to endorse or promote
#       products derived from this software without specific prior written
#       permission.
#
# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
# AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
# IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
# NON-INFRINGEMENT ARE DISCLAIMED.  IN NO EVENT SHALL THE COPYRIGHT OWNER OR
# CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL,
# EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO,
# PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS;
# OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
# WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR
# OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF
# ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
#

on init
    # to cut charging battery path
    write /sys/class/power_supply/battery/siop_level 0
	
on init
    write /sys/class/backlight/panel0-backlight/brightness 200
    setprop sys.usb.configfs 1
    setprop ro.twrp.vendor_boot true
    setprop ro.twrp.fastbootd 1
    setprop ro.boot.fastbootd false

on property:ro.boot.usbcontroller=*
    setprop sys.usb.controller ${ro.boot.usbcontroller}
    wait /sys/bus/platform/devices/${ro.boot.usb.dwc3_msm:-a600000.ssusb}/mode
    write /sys/bus/platform/devices/${ro.boot.usb.dwc3_msm:-a600000.ssusb}/mode peripheral
    wait /sys/class/udc/${ro.boot.usbcontroller} 1

on fs
    wait /dev/block/platform/soc/${ro.boot.bootdevice}
    symlink /dev/block/platform/soc/${ro.boot.bootdevice} /dev/block/bootdevice
	
	# Mount firmware
    mkdir /vendor/firmware_mnt
    mount vfat /dev/block/bootdevice/by-name/apnhlos /vendor/firmware_mnt

    # Wait for vendor partition to be available
    wait /dev/block/platform/soc/${ro.boot.bootdevice}/by-name/vendor
    
    # Create vendor monitoring directory
    mkdir /tmp/vendor_monitor 0755 root root

    export ANDROID_ROOT /system_root

    # Start vendor partition monitoring early for faster boot
    exec - root root -- /system/bin/vendor_check.sh 
   
    
# Set vendor monitoring properties
    setprop vendor.twrp.vendor_check_complete true



# Vendor partition check service
service vendor-check /system/bin/vendor_check.sh
    class main
    user root
    group root
    oneshot
    disabled

# Vendor partition health check service
service vendor-health /system/bin/vendor_health.sh
    class main
    user root
    group root
    oneshot
    disabled



on property:vendor.twrp.monitoring=true
    start vendor-check
    start vendor-health

# Manual vendor monitoring commands
on property:vendor.twrp.manual_check=true
    exec - root root -- /system/bin/vendor_check.sh &
    exec - root root -- /system/bin/vendor_health.sh &



on post-fs
    start boot-hal-1-2
    


on boot
    start health-hal-2-1

    # Release Samsung USB Secure Lock so USB-OTG mode works in recovery
    wait /sys/class/usb_notify/usb_control/usb_sl 5
    write /sys/class/usb_notify/usb_control/usb_sl SUNNY_WORK_MODE

    start decrypt-hals

service decrypt-hals /system/bin/decrypt_hals.sh
    class main
    user root
    group root system
    seclabel u:r:recovery:s0
    oneshot
    disabled


   


